<form novalidate [formGroup]="registerForm" 
  (submit)="onSubmit(registerForm)">
  <div>
    <label>Firstname</label>
    <input type="text" formControlName="firstname">
  </div>
  <div>
    <label>PostalCode</label>
    <input type="text" formControlName="postalCode">
  </div>
  <div>
    <label>Picture (change to file selector)</label>
    <input type="text" formControlName="picture">
  </div>
  <div>
    <label>Age</label>
    <input type="text" formControlName="age">
  </div>
  <div>
    <label>Gender</label>
    <input type="text" formControlName="gender">
  </div>

  <button type="submit">Register</button>
</form>